* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: auto;
    font-family: "Sedan", serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Para colocar o vídeo atrás do conteúdo */
}

.title {
    color: rgb(255, 255, 255);
    transition: .2s;
}

.title:hover {
    color: yellow;
}

span {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(250, 175, 34);
}

.container-apresentation {
    z-index: 2;
    margin-top: 10px;
    gap: 90px;
}

.container-linktree {
    position: fixed; 
    text-align: center;
    align-items: center;
    width: 50%;
    height: 80vh;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 190px;
    background-color: rgba(0, 0, 0, 0.526);
    box-shadow: 10px 10px 10px rgb(246, 255, 0);
    border-radius: 30px;
}

.description {
    margin-top: 10px;
    position: relative;
    font-size: 15px;
    margin-bottom: 10px;
    transition: .2s;
    color: white;
    
}

.description:hover {
    color: yellow;
    font-size: 20px;
}

.luan-img{
    width: 13%;
    border-radius: 100px;
    box-shadow: 4px 4px 4px rgb(255, 238, 0);
    transition: .2s;
}

.luan-img:hover {
    padding: 10px;
}

#linkedin {
    font-size: 23px;
    color: rgb(77, 77, 255);
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px orange;
    border-radius: 20px;
    gap: 90px;
    transition: .3s;
}

#linkedin:hover {
    padding: 10px;
}

#email {
    font-size: 23px;
    color: brown;
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px orange;
    border-radius: 20px;
    transition: .3s;
}

#email:hover {
    padding: 10px;
}

#tiktok {
    font-size: 23px;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px orange;
    border-radius: 20px;
    transition: .3s;
}

#tiktok:hover {
    padding: 10px;
}

#whatsapp {
    font-size: 23px;
    color: rgb(24, 230, 24);
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px orange;
    border-radius: 20px;
    transition: .3s;
}

#whatsapp:hover {
    padding: 10px;
}

#Instagram {
    font-size: 23px;
    color: rgb(243, 181, 10);
    background-color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px orange;
    border-radius: 20px;
    transition: .3s;
}

#Instagram:hover {
    padding: 10px;
}

.container-buttons {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    padding: 15px;
    border: yellow;
    border-radius: 15px;
    font-weight: 600;
    width: 200px;
    font-size: 17px;
    
}

.btn:hover {
    background-color: yellow;
    color: black;
    width: 250px;
}

button {
    color: white;
    background-color: orange;
    cursor: pointer;
    transition: .2s;
    
}

#copyright {
    color: #ffffff65;
}



@media screen and (max-width:1020px) {

    .container-linktree {
        width: 85%;
        height: 100%;
        margin-top: 100px;
        text-align: center;
        align-items: center;
    }

    .container-buttons {
        margin: 5px;
    }

    .luan-img {
        width: 25%;
        height: 20%;
    }

}